@model IPagedList<AddrBk_OrganizationUnit>

<div id="addrbk_organization_index_div">
    <table class="table table-striped">
    <tr>
        <th></th>
        <th>
           Organization Type
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
           Operating Since
        </th>
        <th>
           Effective Date
        </th>
        <th>
           Ineffective Date
        </th>
        <th>
            Comments
        </th>
        <th>
           Created By
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                <div class="btn-group">
                    <a href="@Url.Action("Details", new { id=item.Id })" class="btn"><i class="icon-list-alt" title="details"></i></a>
                    <a href="@Url.Action("Edit", new { id=item.Id })" class="btn"><i class="icon-edit" title="edit"></i></a>
                    <a href="#" class="btn" data-hitsoft-target="#addrbk_organization_index_div" data-hitsoft-url="@Url.Action("Delete", new { id=item.Id })" onclick="confirmDelete(this)"><i class="icon-remove" title="delete"></i></a>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lookup_ContactType.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OUDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperatingSince)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IneffDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cmmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
        </tr>
    }
    </table>

    <div class="pagedList" data-hitsoft-target="#addrbk_organization_index_div">
        @Html.PagedListPager(Model, page => @Url.Action("Index", new { page,searchTerm=ViewBag.searchTerm}))
    </div>
</div>