@model IPagedList<AddrBk_GeographicalGroupMember>

<script type="text/javascript">
    $(document).ready(function () {
        $("#addrbk_organizationmember_searchForm").submit(ajaxFormSubmit);
    });
</script>

<h2>@ViewBag.MainTitle</h2>

<div style="text-align:right">
    <a class="btn btn-info" href="#" onclick="fillMenu('@Url.Action("Create", new { orgName = ViewBag.orgName, organizationId = ViewBag.organizationId, basis = ViewBag.basis })','#addrbk_organization_details_content')">New</a>
</div>

@if (ViewBag.resultCount > 0)
{

    <form id="addrbk_organizationmember_searchForm" method="GET" data-hitsoft-target="#addrbk_organization_details_content" action="@Url.Action("Index", new { orgName = ViewBag.orgName, organizationId = ViewBag.organizationId })" class="form-search">
        <input type="text" name="searchTerm" class="input-medium search-query" value="@ViewBag.searchTerm" placeholder="Enter search term"/>
        <input type="submit" value="Search" class="btn"/>
    </form>

    if(ViewBag.basis == "Country")
    {
        @Html.Partial("_MembersCountry", Model)
    }
    else if(ViewBag.basis == "State/Province")
    {
        @Html.Partial("_MembersState", Model)
    }
    else if (ViewBag.basis == "Continent")
    {
        @Html.Partial("_MembersContinent", Model)
    }
    else if (ViewBag.basis == "City/Town")
    {
        @Html.Partial("_MembersCity", Model)
    }
    else if (ViewBag.basis == "County")
    {
        @Html.Partial("_MembersCounty", Model)
    }
    else if (ViewBag.basis == "Municipality")
    {
        @Html.Partial("_MembersMuncipality", Model)
    }
    else if (ViewBag.basis == "Street Address")
    {
        @Html.Partial("_MembersStreet", Model)
    }
}
else
{
    <div class="alert alert-error">@ViewBag.NoRecordFoundMsg</div>
}