@model IPagedList<AddrBk_ContactAddr>

<script type="text/javascript">
    $(document).ready(function () {
        $("#addrbk_contactaddress_searchForm").submit(ajaxFormSubmit);
    });
</script>

<h2>@ViewBag.MainTitle</h2>

<div style="text-align:right">
    <a class="btn btn-info" href="#" onclick="fillMenu('@Url.Action("Create", new { isOrganization = ViewBag.isOrganization, orgName = ViewBag.orgName, organizationId = ViewBag.organizationId })','#addrbk_organization_details_content')">New</a>
</div>

@if (ViewBag.resultCount > 0)
{

    <form id="addrbk_contactaddress_searchForm" method="GET" data-hitsoft-target="#addrbk_organization_details_content" action="@Url.Action("Index", new { orgName = ViewBag.orgName, organizationId = ViewBag.organizationId,isOrganization = ViewBag.isOrganization })" class="form-search">
        <input type="text" name="searchTerm" class="input-medium search-query" value="@ViewBag.searchTerm" placeholder="Enter search term"/>
        <input type="submit" value="Search" class="btn"/>
    </form>

    @Html.Partial("_ContactAddress", Model)
}
else
{
    <div class="alert alert-error">@ViewBag.NoRecordFoundMsg</div>
}