@model IPagedList<AddrBk_Relation>

<script type="text/javascript">
    $(document).ready(function () {
        $("#addrbk_relation_searchForm").submit(ajaxFormSubmit);

        $("#childPagingList a").each(function () {
            $(this).click(getPagingList);
        });
    });
</script>

<h2>@ViewBag.MainTitle</h2>

<div style="text-align:right">
    <a class="btn btn-info" href="#" onclick="fillMenu('@Url.Action("CreateDept", new { orgName = ViewBag.orgName, organizationId = ViewBag.organizationId })','#addrbk_organization_details_content')">New</a>
</div>
<br />

@if (ViewBag.resultCount > 0)
{
    if (ViewBag.resultCount == 1)
    {
        <div class="alert alert-info">1 record found</div>
    }
    else
    {
        <div class="alert alert-info">@ViewBag.resultCount records found</div>
    }
    <form id="addrbk_relation_searchForm" method="GET" data-hitsoft-target="#addrbk_organization_details_content" action="@Url.Action("IndexDept", new { orgName = ViewBag.orgName, organizationId = ViewBag.organizationId })" class="form-search">
        <input type="text" name="searchTerm" class="input-medium search-query" value="@ViewBag.searchTerm" placeholder="Enter search term"/>
        <input type="submit" value="Search" class="btn"/>
    </form>

    <table class="table table-striped">
    <tr>
        <th></th>
        <th>
            Department
        </th>
        <th>
            Organization Type
        </th>
        <th>
            Relation Type
        </th>
        <th>
            Comments
        </th>
    </tr>

    @foreach (var item in Model)
    {   
        <tr>
            <td>
                <div class="btn-group">
                    <a href="#" class="btn"><i class="icon-edit" title="edit" onclick="fillMenu('@Url.Action("EditDept", new { id = item.Id, organizationId = ViewBag.organizationId, orgName = ViewBag.orgName })','#addrbk_organization_details_content')"></i></a>
                    <a href="#" class="btn" data-hitsoft-target="#addrbk_organization_details_content" data-hitsoft-url="@Url.Action("Delete", new { id = item.Id, organizationId = ViewBag.organizationId, orgName = ViewBag.orgName, isDepartment = true })" onclick="confirmDelete(this)"><i class="icon-remove" title="delete"></i></a>
                </div>
            <td>
                @Html.DisplayFor(modelItem => item.AddrBk_OrganizationUnit3.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddrBk_OrganizationUnit3.Lookup_ContactType.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lookup_AddrBk.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cmmt)
            </td>
        </tr>
    }

    </table>

    <div class="pagedList" data-hitsoft-target="#addrbk_organization_details_content" id="childPagingList">
            @Html.PagedListPager(Model, page => @Url.Action("IndexDept", new { page, organizationId = ViewBag.organizationId, orgName = ViewBag.orgName}))
    </div>
}
else
{
    <div class="alert alert-error">@ViewBag.NoRecordFoundMsg</div>
}